/* GLOBAL STYLES */
body, html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #000;
}

nav {
  z-index: 1;
}

.navbar {
  box-shadow: 1px 0 3px #555;
  padding: 0.25rem 1rem;
}

.navbar .navbar-nav .nav-link {
  color: #82AAA1;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
}

.header-row {
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url('../main.jpeg');
  height: 100%;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #82AAA1;
  text-shadow: 1px 1px 0 #000;
  font-weight: bold;
  text-transform: uppercase;
}

.header-row h1 {
  position: relative;
  top: 50%;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 4px;
}

.header-row h2 {
  position: relative;
  top: 52%;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 2px;
}

.container-fluid {
  position: relative;
  top: 100%;
}

.row {
  padding: 45px 0;
}

.row:nth-child(even) {
  background-color: #F8F9FA;
}

#about {
  text-align: center;
}

#about .portrait {
  max-width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#about p {
  text-align: left;
}

@media (min-width: 768px) {
  #about .portrait {
    float: left;
    margin-right: 10px;
  }
}

h4 {
  display: inline-block;
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 3px solid #82AAA1;
  padding-bottom: 10px;
  margin-bottom: 1em;
}

#skills {
  text-align: center;
}

#skills div {
  margin-bottom: 20px;
}

#skills .fa {
  font-size: 4em;
  color: #82AAA1;
  margin-bottom: 10px;
}

#skills p {
  font-size: 0.9em;
}

#resume {
  text-align: center;
}

/* Resume Timeline based on: https://codepen.io/brady_wright/pen/NNOvrW */
.resume-timeline {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: left;
}

.resume-timeline .timeline-section {
  padding-left: 40px;
  position: relative;
}

.resume-timeline .timeline-section .date {
  margin: 0 0 .5em 0;
  color: #82AAA1;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 0.9em;
  font-weight: bold;
}

.resume-timeline .timeline-section .date p {
  margin-bottom: 0.5em;
}

.resume-timeline .timeline-section .detail {
  font-size: 0.9em;
}

.resume-timeline .timeline-section .circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.resume-timeline .timeline-section .circle::before {
  border: 3px solid #82AAA1;
  border-radius: 100%;
  content: '';
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
}

.resume-timeline .timeline-section .circle::after {
  content: '';
  width: 3px;
  background: #B1B1B1;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

@media (max-width: 767px) {
  .resume-timeline .timeline-section{
    padding-left: 0;
  }

  .resume-timeline .timeline-section .circle {
    display: none;
  }
}

.resume-timeline .timeline-section:last-of-type .circle::after {
  content: none;
}

@media (min-width: 768px) {
  .resume-timeline {
    display: table;
  }

  .resume-timeline .timeline-section {
    display: table-row;
    padding: 0;
  }

  .resume-timeline .timeline-section .date,
  .resume-timeline .timeline-section .detail
  .resume-timeline .timeline-section .circle {
    display: table-cell;
    vertical-align: top;
  }

  .resume-timeline .timeline-section .circle {
    position: relative;
  }

  .resume-timeline .timeline-section .date {
    padding-right: 30px;
  }

  .resume-timeline .timeline-section .detail {
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .resume-timeline, .resume-timeline .timeline-section,
  .resume-timeline .timeline-section .date,
  .resume-timeline .timeline-section .circle,
  .resume-timeline .timeline-section .detail {
    display: block;
    margin: 0;
    padding: 0;
  }

  .resume-timeline .timeline-section {
    padding-bottom: 40px;
    overflow: hidden;
  }

  .resume-timeline .timeline-section .circle {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }

  .resume-timeline .timeline-section .date,
  .resume-timeline .timeline-section .detail {
    width: 50%;
  }

  .resume-timeline > .timeline-section:nth-child(odd) .date {
    float: left;
    text-align: right;
    padding-right: 30px;
  }

  .resume-timeline > .timeline-section:nth-child(odd) .detail {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .resume-timeline > .timeline-section:nth-child(even) .date {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .resume-timeline > .timeline-section:nth-child(even) .detail {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
}

#contact {
  text-align: center;
}

#contact .fa {
  font-size: 2em;
  padding: 5px;
  color: #82AAA1;
}