/* GLOBAL STYLES */
body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #FFF;
  background-color:#010E1B;
}

strong {
  color: #007EA7;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

nav {
  z-index: 1;
}

.navbar {
  box-shadow: 1px 0 3px #555;
  padding: 0.25rem 1rem;
}

.navbar .navbar-nav .nav-link {
  color: #007EA7;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
}

#h1-name, #web-dev {
  color: #007EA7;
  font-size: 1.5rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-align: center;
}

#particle-container > a.particle-links.nav-item.nav-link {
  color: #000;
  position: relative;
  z-index: 2;
}

.sidebar {
  background-color: #000C19;
}

#sidebar-links > a.nav-item.nav-link {
  color: #FFF;
  letter-spacing: 0.125em;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}

.header-row {
  background-color: #010e1b;
  position: absolute;
  top: 0;
  width: 100%;
  /* background-image: url('../main.jpeg'); */
  height: 100%;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  /* text-shadow: 1px 1px 0 #000; */
  /* font-weight: bold; */
  text-transform: uppercase;
}

.header-row h1 {
  text-align: center;
  margin-bottom: 0;
  /* padding-bottom: 5px; */
  font-size: 3em;
  letter-spacing: 0.125em;
  z-index: 1;
}

.header-row h2 {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.125em;
  z-index: 1;
}

.container-fluid {
  position: relative;
  top: 100%;
}

.row {
  padding: 45px 0;
}

#about .portrait {
  max-width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#about-desc {
  text-align: left;
}

@media (min-width: 768px) {
  #about .portrait {
    float: left;
    margin-right: 10px;
  }
}

h3 {
  display: inline-block;
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 3px solid #007EA7;
  padding-bottom: 10px;
  margin-bottom: 1em;
}

#about, #skills, #resume, #featured, #contact {
  text-align: center;
}

#featured .card {
 background: #00182DA8;
}

#featured .card-body {
  text-align: left;
}

#featured .card-body .card-text {
  font-size: 0.9em;
}

#featured .card-body .card-title a {
  color:  #007EA7;
  font-size: 0.8em;
  text-decoration: underline;
}

#featured .card-body .card-title a:hover {
  color: #5F8CA7
}

#skills div {
  margin-bottom: 20px;
}

#skills .fa {
  font-size: 4em;
  color: #007EA7;
  margin-bottom: 10px;
}

#skills p {
  font-size: 1em;
}

/* Resume Timeline based on: https://codepen.io/brady_wright/pen/NNOvrW */
.resume-timeline {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: left;
}

.resume-timeline .timeline-section {
  padding-left: 40px;
  position: relative;
}

.resume-timeline .timeline-section .date {
  margin: 0 0 .5em 0;
  color: #007EA7;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 1em;
  font-weight: bold;
}

.resume-timeline .timeline-section .date p {
  margin-bottom: 0.5em;
}

.resume-timeline .timeline-section .detail {
  font-size: 1em;
}

.resume-timeline .timeline-section .detail .detailed-list {
  list-style: none;
  padding: 0;
}

.resume-timeline .timeline-section .detail .detailed-list li {
  padding-bottom: 0.5em;
}

.resume-timeline .timeline-section .circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.resume-timeline .timeline-section .circle::before {
  border: 3px solid #007EA7;
  border-radius: 100%;
  content: '';
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
}

.resume-timeline .timeline-section .circle::after {
  content: '';
  width: 3px;
  background: #B1B1B1;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

@media (max-width: 767px) {
  .resume-timeline .timeline-section{
    padding-left: 0;
  }

  .resume-timeline .timeline-section .circle {
    display: none;
  }
}

.resume-timeline .timeline-section:last-of-type .circle::after {
  content: none;
}

@media (min-width: 768px) {
  .resume-timeline {
    display: table;
  }

  .resume-timeline .timeline-section {
    display: table-row;
    padding: 0;
  }

  .resume-timeline .timeline-section .date,
  .resume-timeline .timeline-section .detail
  .resume-timeline .timeline-section .circle {
    display: table-cell;
    vertical-align: top;
  }

  .resume-timeline .timeline-section .circle {
    position: relative;
  }

  .resume-timeline .timeline-section .date {
    padding-right: 30px;
  }

  .resume-timeline .timeline-section .detail {
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .resume-timeline, .resume-timeline .timeline-section,
  .resume-timeline .timeline-section .date,
  .resume-timeline .timeline-section .circle,
  .resume-timeline .timeline-section .detail {
    display: block;
    margin: 0;
    padding: 0;
  }

  .resume-timeline .timeline-section {
    padding-bottom: 40px;
    overflow: hidden;
  }

  .resume-timeline .timeline-section .circle {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }

  .resume-timeline .timeline-section .date,
  .resume-timeline .timeline-section .detail {
    width: 50%;
  }

  .resume-timeline > .timeline-section:nth-child(odd) .date {
    float: left;
    text-align: right;
    padding-right: 30px;
  }

  .resume-timeline > .timeline-section:nth-child(odd) .detail {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .resume-timeline > .timeline-section:nth-child(even) .date {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .resume-timeline > .timeline-section:nth-child(even) .detail {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
}

#contact .fa {
  font-size: 2em;
  padding: 5px;
  color: #007EA7;
}